@font-face{
    font-family: fuente;
    src: url(../fonts/fuenteproducto.ttf);
}
@font-face{
    font-family: nenemalo;
    src: url(../fonts/fuenteHeader.ttf);
}


body {
    background-image: url('../img/welcome.png');
    background-repeat: no-repeat;
    background-size: cover; /* Opcional: ajusta el tamaño de la imagen para cubrir todo el body */
}

.Formulario{
    font-family: fuente;
    position: relative;
    margin-top: 1em;
    background-color: #9EA1B3;
    border: 50px solid #040A35;
    border-radius: 100px;
    text-align: center;
    width: 45%;
    left: 50%;
    transform: translateX(-50%);
    height: 25em;
}

.gmail{
    position: absolute;
    left: 5%;
    top: 35%;
}input.gmail{
    position: absolute;
    left: 5%;
    top: 60%;   
    border-radius: 2em;
    border: solid 1px transparent; 
    height: 2.5em;
    width: 88%;
    font-size: 1em;
}

.codigo{
    position: absolute;
    left: 5%;
    top: 75%;
}input.codigo{
    position: absolute;
    left: 5%;
    top: 100%;   
    border-radius: 2em;
    border: solid 1px transparent; 
    height: 2.5em;
    width: 88%;
    font-size: 1em;
}


.Formulario form{
    margin-top: 20em;
    
}.Formulario img{
    text-align: center;
    position: relative;
    top: 10%;
}.Formulario h4{
    position: relative;
    text-align: center;
    top: 5%;
    font-size: 1.3em;
}.Formulario a{
    font-family: nenemalo;
    text-decoration: none;
    position: relative;
    text-align: center;
    top: 2%;
    font-size: 2em;
    -webkit-text-stroke: 2px magenta;
    color: purple;
    font-weight: bold; 
}.botonEnvio{
    background: url('../img/botonInicioSesion.png');
    background-size: cover;
    border: 5px solid grey;
    padding-bottom: 50px;
    width: 25em;
    height: 50px;
    position: relative;
    top: -5em;
    left: 7em;
    left: 0%;
    cursor: pointer;
}.botonEnvio:hover {
    cursor: pointer; /*Cambia el cursor a una mano clickeable*/
}

.inputs{
    border: 5px transparent solid;
    height: 50%;
    position: relative;
    top: -20%;
}

